@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Fleur+De+Leah&family=Hanuman:wght@300;400&display=swap");

@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
* {
  font-family: "Hanuman", serif;
}

#title {
  color: #1e2a6e;
  font-weight: bold;
}
#sizeF {
  font-size: 15px;
}
header a:hover {
  color: white;
  display: block;
  background-color: rgb(30, 42, 110);
  border-radius: 10px;
}
#locButton {
  color: white;
}
#bk{
    background-image: url(images/location_icon2.jpg);
    background-repeat: no-repeat;
}

.card-img-top {
  height: 30%;
}
#Services,
#Our_Team {
  background-color: #e9e5e5;
}
